/* --------------------------------------------------------------------------
   reset
   -------------------------------------------------------------------------- */
html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block; }
ul, ol { list-style: none; }
img { border: 0 none; vertical-align: top; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }
strong, em, i { font-style: normal; font-weight: normal; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
input::-ms-clear { display: none !important; }
body { font: 14px/1.5 \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", "Droid Sans Fallback", SimSun, sans-serif; background-color: #f6f6f6; overflow: hidden }
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }
html, body{
  height: 100%;
}

/* --------------------------------------------------------------------------
   sp-base  Module
   -------------------------------------------------------------------------- */

::-webkit-scrollbar {
  width: 3px;
  height: 7px
}

::-webkit-scrollbar-track {
  background-color: rgba(9, 196, 7, 0.15)
}

::-webkit-scrollbar-thumb {
  background-color: rgba(9, 196, 7, 0.34)
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf
}

::-webkit-scrollbar-thumb:active {
  background-color: #ccc
}

/* sp-base Module  text
   -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.618;
}
@for $i from 0 through 5 {
  h#{$i+1} { font-size: 36px - $i * 4; }
}

/* sp-base Module  flex
   -------------------------------------------------------------------------- */
@mixin sp-box($space:space-between, $center:center) {
  display: flex;
  align-items: $center;
  justify-content: $space;
}
.sp-justify {
  @include sp-box(space-between, flex-start);
  &-space {
    @include sp-box;
  }
  &-align {
    @include sp-box(center);
  }
}
.sp-row{
  display: block;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  zoom: 1;

  &:after, &:before {
    content: "";
    display: table;
  }
}

/* sp-base Module Example layout
   -------------------------------------------------------------------------- */
.sp-article{
  text-align: left;
  & > article{
    margin-bottom: 30px;
  }
}
.example{
  display: flex;
  align-items: flex-start;
  position: relative;
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
    border-color: transparent;
    position: relative
  }
  &-demo {
    position: relative;
    display: block;
    width: 50%;
    min-height: 100px;
    padding: 20px 10px;
  }
  &-code {
    position: relative;
    display: block;
    width: 50%;
    padding: 0 10px;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 1px dashed #dedede;
    &-downup{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      font-size: 12px;
      text-align: center;
      color: #09C407;
      cursor: pointer;

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        box-shadow: inset 0 -15px 30px #fff;
      }
    }
  }
}

/* sp-base Module  spText
   -------------------------------------------------------------------------- */
@import "./spText";
@import "./spLayout";

